<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
    <add  name="LibraryWPF.Properties.Settings.SqlConnectionWork" 
          connectionString="Server=LAPTOP-TMRQF3QP\LANDROMMSQLSERV; Database=MVVMLoginDb; Integrated Security=True; TrustServerCertificate=True"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>